@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'syntaxHighlighting';

:root,
.light,
.dark .invert-color-theme,
.light .dark .invert-color-theme {
    @apply text-primary;

    --spacing-1: theme(spacing.1);
    --spacing-2: theme(spacing.2);
    --spacing-3: theme(spacing.3);
    --spacing-4: theme(spacing.4);
    --spacing-5: theme(spacing.5);
    --spacing-6: theme(spacing.6);

    --white: theme(colors.white);
    --black: theme(colors.black);

    --gray-050: theme(colors.gray.50);
    --gray-100: theme(colors.gray.100);
    --gray-200: theme(colors.gray.200);
    --gray-300: theme(colors.gray.300);
    --gray-400: theme(colors.gray.400);
    --gray-500: theme(colors.gray.500);
    --gray-600: theme(colors.gray.600);
    --gray-700: theme(colors.gray.700);
    --gray-800: theme(colors.gray.800);
    --gray-850: theme(colors.gray.850);
    --gray-900: theme(colors.gray.900);

    --red-050: theme(colors.red.50);
    --red-100: theme(colors.red.100);
    --red-200: theme(colors.red.200);
    --red-300: theme(colors.red.300);
    --red-400: theme(colors.red.400);
    --red-500: theme(colors.red.500);
    --red-600: theme(colors.red.600);
    --red-700: theme(colors.red.700);
    --red-800: theme(colors.red.800);
    --red-900: theme(colors.red.900);

    --orange-050: theme(colors.orange.50);
    --orange-100: theme(colors.orange.100);
    --orange-200: theme(colors.orange.200);
    --orange-300: theme(colors.orange.300);
    --orange-400: theme(colors.orange.400);
    --orange-500: theme(colors.orange.500);
    --orange-600: theme(colors.orange.600);
    --orange-700: theme(colors.orange.700);
    --orange-800: theme(colors.orange.800);
    --orange-900: theme(colors.orange.900);

    --yellow-050: theme(colors.yellow.50);
    --yellow-100: theme(colors.yellow.100);
    --yellow-200: theme(colors.yellow.200);
    --yellow-300: theme(colors.yellow.300);
    --yellow-400: theme(colors.yellow.400);
    --yellow-500: theme(colors.yellow.500);
    --yellow-600: theme(colors.yellow.600);
    --yellow-700: theme(colors.yellow.700);
    --yellow-800: theme(colors.yellow.800);
    --yellow-900: theme(colors.yellow.900);

    --green-050: theme(colors.green.50);
    --green-100: theme(colors.green.100);
    --green-200: theme(colors.green.200);
    --green-300: theme(colors.green.300);
    --green-400: theme(colors.green.400);
    --green-500: theme(colors.green.500);
    --green-600: theme(colors.green.600);
    --green-700: theme(colors.green.700);
    --green-800: theme(colors.green.800);
    --green-900: theme(colors.green.900);

    --blue-050: theme(colors.blue.50);
    --blue-100: theme(colors.blue.100);
    --blue-200: theme(colors.blue.200);
    --blue-300: theme(colors.blue.300);
    --blue-400: theme(colors.blue.400);
    --blue-500: theme(colors.blue.500);
    --blue-600: theme(colors.blue.600);
    --blue-700: theme(colors.blue.700);
    --blue-800: theme(colors.blue.800);
    --blue-900: theme(colors.blue.900);

    --purple-050: theme(colors.purple.50);
    --purple-100: theme(colors.purple.100);
    --purple-200: theme(colors.purple.200);
    --purple-300: theme(colors.purple.300);
    --purple-400: theme(colors.purple.400);
    --purple-500: theme(colors.purple.500);
    --purple-600: theme(colors.purple.600);
    --purple-700: theme(colors.purple.700);
    --purple-800: theme(colors.purple.800);
    --purple-900: theme(colors.purple.900);

    --text-primary: var(--gray-850);
    --text-secondary: var(--gray-600);
    --text-red: var(--red-600);
    --text-orange: var(--orange-500);
    --text-green: var(--green-600);
    --text-blue: var(--blue-600);
    --text-purple: var(--purple-600);

    --text-light: var(--gray-050);
    --text-dark: var(--gray-900);
    --text-light-secondary: var(--gray-600);
    --text-dark-secondary: var(--gray-400);

    --bg-primary: var(--white);
    --bg-secondary: var(--gray-050);
    --bg-tertiary: var(--gray-100);
    --bg-blue: var(--blue-100);
    --bg-green: var(--green-100);
    --bg-green-secondary: var(--green-050);

    --border-primary: var(--gray-100);
    --border-secondary: var(--gray-200);
    --border-green: var(--green-200);

    --icon-secondary-opacity: 0.5;
    --icon-tertiary-opacity: 0.3;

    --numberBoxShadow: 0px 70px 65px rgba(0, 0, 0, 0.039), 0px 30px 30px rgba(0, 0, 0, 0.037),
        0px 15px 15px rgba(0, 0, 0, 0.036), 0px 10px 8px rgba(0, 0, 0, 0.035), 0px 4px 4px rgba(0, 0, 0, 0.034),
        0px 2px 2px rgba(0, 0, 0, 0.033);
    --numberBoxRadialGradient: radial-gradient(ellipse farthest-side,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%);
    --numberBoxBorder: 0 0 0 1px rgba(255, 255, 255, 0.6);
    --numberBoxBackground: rgba(255, 255, 255, 1);

    /* Legacy properties */

    --bg-green-light: var(--green-050);
    --bg-purple-light: var(--purple-050);
    --bg-orange-light: var(--orange-050);
    --bg-yellow-light: var(--yellow-050);
    --bg-blue-light: var(--blue-050);
    --bg-blue-subtle: var(--blue-100);
    --bg-purple: var(--purple-400);
    --bg-purple-secondary: var(--purple-300);
    --bg-purple-tertiary: var(--purple-200);
    --border-action: var(--gray-200);
    --border-yellow: var(--yellow-200);
    --border-orange-light: var(--orange-100);
    --border-yellow-light: var(--yellow-100);
    --border-green-light: var(--green-100);
    --border-purple-light: var(--purple-100);
    --border-blue-light: var(--blue-200);
    --text-blue-dark: var(--blue-700);
    --text-red-disabled: var(--red-300);
    --text-yellow: var(--yellow-500);
    --graph-border: var(--gray-200);
    --graph-blue-gradient-start: var(--blue-100);
    --graph-blue-gradient-stop: var(--blue-100);
    --graph-blue-light: var(--blue-200);
    --graph-blue-dark: var(--blue-500);
    --graph-green-light: var(--green-200);
    --graph-green-dark: var(--green-500);
    --trackline-gradient-stop-1: var(--white);
    --trackline-gradient-stop-2: var(--gray-100);
    --trackline-gradient-stop-3: var(--purple-400);
    --icon-stroke-green: var(--green-600);
}

.dark,
.light .invert-color-theme,
.dark .light .invert-color-theme {
    @apply text-primary;

    --text-primary: var(--gray-050);
    --text-secondary: var(--gray-400);
    --text-red: var(--red-400);
    --text-green: var(--green-500);
    --text-blue: var(--blue-400);
    --text-purple: var(--purple-400);

    --bg-primary: var(--gray-900);
    --bg-secondary: var(--gray-850);
    --bg-tertiary: var(--gray-800);
    --bg-blue: var(--blue-800);
    --bg-green: var(--green-900);
    --bg-green-secondary: var(--green-800);

    --border-primary: var(--gray-800);
    --border-secondary: var(--gray-700);
    --border-green: var(--green-800);

    --icon-secondary-opacity: 0.4;
    --icon-tertiary-opacity: 0.3;

    /* Legacy properties */
    --bg-green-light: var(--green-900);
    --bg-purple-light: var(--purple-900);
    --bg-orange-light: var(--orange-900);
    --bg-yellow-light: var(--yellow-900);
    --bg-blue-light: var(--blue-900);
    --bg-blue-subtle: var(--blue-800);
    --bg-purple: var(--purple-500);
    --bg-purple-secondary: var(--purple-600);
    --bg-purple-tertiary: var(--purple-700);
    --border-action: var(--gray-600);
    --border-green-light: var(--green-700);
    --border-yellow: var(--yellow-800);
    --border-orange-light: var(--orange-700);
    --border-yellow-light: var(--yellow-700);
    --border-purple-light: var(--purple-700);
    --border-blue-light: var(--blue-800);
    --text-blue-dark: var(--blue-300);
    --text-orange: var(--orange-500);
    --text-red-disabled: var(--red-700);
    --graph-border: var(--gray-600);
    --graph-blue-gradient-start: var(--blue-900);
    --graph-blue-gradient-stop: var(--blue-900);
    --graph-blue-light: var(--blue-700);
    --graph-blue-dark: var(--blue-400);
    --graph-green-light: var(--green-700);
    --graph-green-dark: var(--green-400);
    --trackline-gradient-stop-1: var(--gray-900);
    --trackline-gradient-stop-2: var(--gray-800);
    --trackline-gradient-stop-3: var(--purple-500);
    --icon-stroke-green: var(--green-500);
}

@font-face {
    font-family: 'Inter var';
    src: url('/fonts/Inter.var.woff2') format('woff2-variations');
    font-weight: 400 600;
    font-style: oblique 0deg 10deg;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/RobotoMono.var.woff2') format('woff2-variations');
    font-weight: 400 500;
    font-display: swap;
}

@supports (font-variation-settings: normal) {

    i,
    em,
    .italic {
        font-style: normal;
        font-variation-settings: 'slnt' -10;
    }
}

/* Icon styles */
.icon-color-secondary {
    opacity: var(--icon-secondary-opacity);
}

.icon-color-tertiary {
    opacity: var(--icon-tertiary-opacity);
}

/* Vendor overrides */

.Typewriter {
    @apply inline;
}

.Typewriter .Typewriter__cursor {
    @apply text-purple;
}

.CliIcon .Typewriter__cursor {
    @apply text-xl;
    @apply leading-none;
    @apply text-light;
}

/* Better shadow borders */
.border,
.border-x,
.border-y,
.border-t,
.border-r,
.border-b,
.border-l {
    @apply initial: border-black/8 initial:dark:border-white/15;
    background-clip: padding-box;
}

[class^='z-'],
[class*=' z-'] {
    @apply initial: relative;
}

@layer utilities {

    /* Legacy page support */
    .bg-tiles,
    .dark .invert-color-theme .bg-tiles {
        background: url(../public/images/bg-tile-light.svg) top -1px center;
    }

    .bg-tiles-secondary,
    .dark .invert-color-theme .bg-tiles-secondary {
        background: url(../public/images/bg-tile-light-secondary.svg) top -1px center;
    }

    .dark.bg-tiles,
    .dark .bg-tiles {
        color: theme(colors.gray.900);
        background: url(../public/images/bg-tile-dark.svg) top -1px center;
    }

    .dark.bg-tiles-secondary,
    .dark .bg-tiles-secondary {
        background: url(../public/images/bg-tile-dark-secondary.svg) top -1px center;
    }

    .grid-area-1 {
        grid-area: 1 / 1;
    }

    .grid-area-auto {
        grid-area: auto;
    }

    .gradient-text {
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        background-image: linear-gradient(135deg,
                #0e73cc 1.93%,
                #624bbb 14.86%,
                var(--red-500) 48.09%,
                var(--orange-500) 77.82%,
                var(--yellow-300) 97.3%);
    }

    .transparent-radial-overlay {
        @apply relative;
    }

    .transparent-radial-overlay::after {
        content: '';
        @apply block;
        @apply absolute;
        @apply top-0;
        @apply left-0;
        @apply w-full;
        @apply h-full;
        background-image: radial-gradient(rgba(26, 27, 33, 0) 50%, theme(backgroundColor.primary) 70%);
    }

    .transparent-radial-overlay.overlay-lg::after {
        background-image: radial-gradient(rgba(255, 255, 255, 0), theme(backgroundColor.primary) 60%);
    }

    .bg-database-demo {
        @apply rounded;
        @apply border border-transparent;
        background-image: radial-gradient(ellipse at 5% 145%, theme(colors.orange.800), theme(colors.gray.900) 40%),
            linear-gradient(10deg, theme(colors.orange.700), theme(colors.gray.800) 35%);
        background-origin: border-box;
        background-clip: padding-box, border-box;
    }

    .vitess-icon-border {
        @apply rounded;
        @apply border-2 border-transparent;
        background-image: linear-gradient(theme(backgroundColor.primary), theme(backgroundColor.primary)),
            linear-gradient(135deg,
                theme(colors.blue.600),
                theme(colors.purple.600),
                theme(colors.orange.500),
                theme(colors.yellow.200));
        background-origin: border-box;
        background-clip: padding-box, border-box;
    }

    .vitess-shimmer-border {
        @apply rounded-sm;
        @apply border-4 border-transparent;
        background-image: linear-gradient(theme(colors.orange.400), theme(colors.orange.500)),
            linear-gradient(135deg,
                theme(colors.orange.400) 50%,
                theme(colors.orange.100) 55%,
                theme(colors.orange.400) 60%,
                theme(colors.orange.400) 100%);
        background-size: 400% 100%;
        background-position: 0% 50%;
        background-origin: border-box;
        background-clip: padding-box, border-box;

        &.vitess-shimmer-border-animating {
            animation: border-shimmer 5s linear infinite reverse;
        }
    }

    @keyframes border-shimmer {

        8%,
        100% {
            background-position: 100% 50%;
        }
    }

    .parallax,
    .parallax>* {
        transform-style: preserve-3d;
        backface-visibility: hidden;

        .parallax-element {
            transform: translateZ(50px);
        }

        .parallax-element-sm {
            transform: translateZ(25px);
        }

        .parallax-element-lg {
            transform: translateZ(100px);
        }
    }
}

html {
    font-feature-settings: 'case' 0, 'cpsp' 0, 'dlig' 0, 'frac' 0, 'dnom' 0, 'numr' 0, 'salt' 0, 'subs' 0, 'sups' 0,
        'tnum' 0, 'zero' 0, 'ss01' 0, 'ss02' 0, 'ss03' 0, 'ss04', 'cv01' 0, 'cv02' 0, 'cv03', 'cv04', 'calt', 'ccmp', 'kern';
}

a,
button[role='tab'],
div[role='tabpanel'],
button {
    @apply focus: outline-none rounded focus:ring focus:ring-orange-500/40
}

/* Accordion styles via Radix */

.CollapsibleContent {
    overflow: hidden;
}

.CollapsibleContent[data-state='open'] {
    animation: slideDown 300ms ease-out;
}

.CollapsibleContent[data-state='closed'] {
    animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
    from {
        height: 0;
    }

    to {
        height: var(--radix-collapsible-content-height);
    }
}

@keyframes slideUp {
    from {
        height: var(--radix-collapsible-content-height);
    }

    to {
        height: 0;
    }
}

/* Legacy styles from website repo */

div[role='menu'] {
    /* temporary until we nail down focus styles */
    outline: none !important;
}

/* These summary rules need to be separate like this, otherwise FF won’t work right. */
summary {
    @apply list-none;
}

summary::marker {
    @apply hidden;
}

summary::-webkit-details-marker {
    @apply hidden;
}

b,
strong {
    @apply font-semibold;
}

.legalcounters ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
}

.legalcounters ol>li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
}

.legalcounters ol>li:before {
    content: counters(item, '.') '. ';
    display: table-cell;
    padding-right: 0.6em;
}

.legalcounters li ol>li:before {
    content: counters(item, '.') ' ';
}

/* Cookie banner overrides */
#hs-eu-cookie-confirmation {
    @apply border-0 bg-gray-900 font-sans text-light shadow-legacy-2xl lg: rounded-tr-md !important;
    border-top: solid 1px #30313a !important;
}

@media screen and (min-width: 768px) {
    #hs-eu-cookie-confirmation {
        width: 45% !important;
        max-width: 510px;
        border-right: solid 1px #30313a !important;
    }
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-en-cookie-confirmation-buttons-area a#hs-eu-cookie-settings-button {
    @apply p-0 !important;
}

#hs-eu-cookie-confirmation #hs-eu-cookie-confirmation-inner {
    @apply bg-transparent pb-0 !important;
}

@media screen and (max-width: 480px) {
    #hs-eu-cookie-confirmation #hs-eu-cookie-confirmation-inner {
        @apply p-2 !important;
    }
}

#hs-eu-cookie-confirmation #hs-eu-cookie-confirmation-inner p {
    @apply m-0.5 p-0.5 text-[0.75rem] leading-normal text-inherit !important;
}

#hs-eu-cookie-confirmation #hs-eu-cookie-confirmation-inner p a {
    color: var(--blue) !important;
}

#hs-eu-cookie-confirmation #hs-eu-cookie-confirmation-inner #hs-eu-policy-wording {
    @apply order-1 col-span-3 mb-0 !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-en-cookie-confirmation-buttons-area {
    @apply justify-start sm: pb-2 !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-en-cookie-confirmation-buttons-area #hs-eu-cookie-settings-button {
    @apply text-inherit !important;
    font-size: 0.75rem !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-en-cookie-confirmation-buttons-area a#hs-eu-confirmation-button {
    @apply rounded border border-white bg-transparent !important;
    font-size: 0.75rem !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-en-cookie-confirmation-buttons-area a#hs-eu-decline-button {
    @apply rounded border border-white bg-transparent text-inherit !important;
    font-size: 0.75rem !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-en-cookie-confirmation-buttons-area a {
    @apply order-2 text-center !important;
    padding: 8px 20px !important;
}

#hs-eu-cookie-confirmation #hs-eu-cookie-confirmation-inner #hs-en-cookie-confirmation-buttons-area #hs-eu-cookie-confirmation-button-group {
    @apply order-1 flex !important;
}

/* GA blog post */
.ga-letter-body {
    padding-top: 10em;

    @media screen and (min-width: 768px) {
        padding-top: 26em;
    }

    @media screen and (min-width: 1920px) {
        text-shadow: 0 1px 30px #000;
    }
}

.ga-render-card {
    animation-name: float;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.ga-render-card-one {
    animation-name: float-slow;
    animation-duration: 4s;
}

.ga-render-card-two {
    animation-duration: 14s;
}

.ga-render-card-three {
    animation-duration: 5s;
}

@keyframes float-slow {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 4px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

@keyframes float {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 7px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

@keyframes launch-week-pulse-blur {
    0% {
        -webkit-filter: blur(7px);
    }

    50% {
        -webkit-filter: blur(12px);
    }

    100% {
        -webkit-filter: blur(7px);
    }
}

.launch-week-gradient-stroke:after {
    content: ' ';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 100%;
    background: linear-gradient(55deg,
            #0e73cc -10.27%,
            #624bbb 18.73%,
            var(--red-500) 41.74%,
            var(--orange-500) 66.34%,
            var(--yellow-200) 88.11%);
}

.launch-week-gradient-stroke:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    background: linear-gradient(55deg,
            #0e73cc -10.27%,
            #624bbb 18.73%,
            var(--red-500) 41.74%,
            var(--orange-500) 66.34%,
            var(--yellow-200) 88.11%);
    filter: blur(7px);
    animation: launch-week-pulse-blur 4s infinite;
}

h2:hover a span {
    @apply opacity-100;
}

.hanging:first-letter {
    @apply -ml-0.5;
}

/* Black Friday campaign */
.retail-table:hover>.retail-table-row {
    @apply opacity-60;
}

.retail-table-row:hover {
    @apply opacity-100 !important;
}

/* 404 styles */
.errorPage-radialGradient {
    background: var(--numberBoxRadialGradient);
}

.errorPage-numberBox {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0);
    animation: errorPage-numberBox-border-fade-in 3s infinite ease-in-out;
}

.errorPage-numberBoxShadow {
    @apply shadow;
    animation: errorPage-numberBox-fade-in 3s infinite ease-in-out;
}

.errorPage-numberBoxShadowSet2,
.errorPage-numberBox2 {
    animation-delay: 0.5s;
}

.errorPage-numberBoxShadowSet3,
.errorPage-numberBox3 {
    animation-delay: 1s;
}

@keyframes errorPage-numberBox-fade-in {
    50% {
        box-shadow: var(--numberBoxShadow);
    }
}

@keyframes errorPage-numberBox-border-fade-in {
    50% {
        box-shadow: var(--numberBoxBorder);
        background: var(--numberBoxBackground);
    }
}

.bg-gradient-purple {
    @apply bg-gradient-to-bl;
    @apply from-purple-500;
    @apply to-purple-600;
}

.bg-gradient-orange {
    @apply bg-gradient-to-bl;
    @apply from-orange-400;
    @apply to-orange-500;
}

.bg-gradient-yellow {
    @apply bg-gradient-to-bl;
    @apply from-yellow-500;
    @apply to-yellow-600;
}

.enterprise-border-gradient-purple {
    padding: 1px;
    border: 1px solid;
    border-image: linear-gradient(150.67deg, #b7a5fb -11.25%, rgba(62, 66, 77, 0) 93.67%) 1;
    border-radius: 6px;
}

.enterprise-cta-background {
    background: rgba(0, 0, 0, 0.33);
    backdrop-filter: blur(2px);
}

/* BIG LEGACY NOPE GET THIS OUT ASAP */
@layer components {

    .pipe-trim,
    .pipe-trim-left,
    .pipe-trim-right {
        @apply relative;
    }

    .pipe-trim::before,
    .pipe-trim-right::before {
        @apply absolute top-0 left-[-1em] h-[1em] border-r border-orange-500;
        content: '';
    }

    .pipe-trim::after,
    .pipe-trim-left::after {
        @apply absolute top-0 left-[-1em] h-[1em] border-r border-orange-500;
        content: '';
    }

    p a,
    ul a {
        @apply text-blue underline decoration-from-font underline-offset-2 transition;
        text-decoration-color: var(--border-secondary);
    }

    p a:hover,
    ul a:hover {
        text-decoration-color: var(--text-blue);
    }

    /* TODO: Everything below is the old stuff, we should get rid of it after new designs are implemented */
    .comment {
        @apply mb-2 font-mono text-secondary;
    }

    .comment:not(.no-accent) {
        @apply accent-orange: text-orange-400 accent-purple:text-purple-600 accent-yellow:text-yellow-200;
    }

    .dark .comment:not(.no-accent) {
        @apply accent-orange: text-orange-400 accent-purple:text-purple-200 accent-yellow:text-yellow-200;
    }

    .comment::before {
        content: '// ';
    }

    .heading-8xl {
        @apply mb-4 text-[48px] font-semibold leading-[calc(100%+4px)] tracking-dense text-primary sm: text-[72px] sm:tracking-tight md:text-[96px];
    }

    .heading-7xl {
        @apply mb-3 text-[40px] font-semibold leading-[calc(100%+4px)] tracking-dense text-primary sm: text-[56px] sm:tracking-tight md:text-[72px];
    }

    .heading-6xl {
        @apply mb-3 text-[32px] font-semibold leading-[calc(100%+4px)] tracking-dense text-primary sm: text-[48px] md:text-[64px] md:tracking-tight;
    }

    .heading-5xl {
        @apply mb-3 text-[32px] leading-[calc(100%+4px)] tracking-dense text-primary sm: text-[48px] md:text-[56px] md:tracking-tight;
    }

    .heading-4xl {
        @apply mb-3 text-[28px] leading-[calc(100%+4px)] tracking-dense text-primary sm: text-[40px] md:text-[48px];
    }

    .heading-3xl {
        @apply mb-3 text-[28px] leading-[calc(100%+4px)] tracking-dense text-primary sm: text-[32px] md:text-[40px];
    }

    .heading-2xl {
        @apply mb-3 text-[24px] leading-[calc(100%+4px)] tracking-dense text-primary sm: text-[28px] md:text-[32px];
    }

    .heading-lg {
        @apply mb-2 leading-[calc(100%+4px)] text-primary sm: text-[24px];
    }

    .heading-base {
        @apply mb-2 text-[20px] leading-[calc(100%+4px)] text-primary;
    }

    .body-2xl {
        @apply text-[24px] font-semibold leading-[calc(100%+8px)] text-secondary sm: text-[28px] sm:leading-[calc(100%+12px)] md:text-[32px] md:leading-[calc(100%+10px)];
    }

    .body-lg {
        @apply text-secondary md: text-[24px];
    }

    .body-base {
        @apply text-[18px] leading-[calc(100%+8px)] text-secondary sm: text-[20px];
    }

    .body-sm {
        @apply text-[18px] leading-[calc(100%+8px)] text-secondary;
    }

    .body-xs {
        @apply text-gray-700 text-[14px] leading-[calc(100%+6px)];
    }

    .body-2xs {
        @apply text-gray-700 text-[12px] leading-[calc(100%+8px)];
    }

    /* I couldn’t get postcss-custom-selectors to work but would be a good use case here */
    .section-8xl,
    .section-7xl,
    .section-6xl,
    .section-5xl {
        p {
            @apply body-lg;
        }
    }

    .section-8xl {

        h1:not(.comment),
        h2:not(.comment),
        h3:not(.comment),
        h4:not(.comment),
        h5:not(.comment),
        h6:not(.comment),
        .heading {
            @apply heading-8xl;
        }
    }

    .section-7xl {

        h1:not(.comment),
        h2:not(.comment),
        h3:not(.comment),
        h4:not(.comment),
        h5:not(.comment),
        h6:not(.comment),
        .heading {
            @apply heading-7xl;
        }
    }

    .section-6xl {

        h1:not(.comment),
        h2:not(.comment),
        h3:not(.comment),
        h4:not(.comment),
        h5:not(.comment),
        h6:not(.comment),
        .heading {
            @apply heading-6xl;
        }
    }

    .section-5xl {

        h1:not(.comment),
        h2:not(.comment),
        h3:not(.comment),
        h4:not(.comment),
        h5:not(.comment),
        h6:not(.comment),
        .heading {
            @apply heading-5xl;
        }
    }

    .section-3xl {

        h1:not(.comment),
        h2:not(.comment),
        h3:not(.comment),
        h4:not(.comment),
        h5:not(.comment),
        h6:not(.comment),
        .heading {
            @apply heading-3xl;
        }

        p {
            @apply body-base;
        }
    }

    .section-2xl {

        h1:not(.comment),
        h2:not(.comment),
        h3:not(.comment),
        h4:not(.comment),
        h5:not(.comment),
        h6:not(.comment),
        .heading {
            @apply heading-2xl;
        }

        p {
            @apply body-base;
        }
    }

    .section-lg {

        h1:not(.comment),
        h2:not(.comment),
        h3:not(.comment),
        h4:not(.comment),
        h5:not(.comment),
        h6:not(.comment),
        .heading {
            @apply heading-lg;
        }

        p {
            @apply body-base;
        }
    }
}

.product-view {
    font-size: 14px;

    .text-[18px] {
        font-size: 14px;
    }
}