
<div class="bg-white shadow-lg rounded-2xl w-80 dark:bg-gray-800">
    <img alt="profil" src="/images/landscape/1.jpg" class="w-full mb-4 rounded-t-lg h-28"/>
    <div class="flex flex-col items-center justify-center p-4 -mt-16">
        <a href="#" class="relative block">
            <img alt="profil" src="/images/person/1.jpg" class="mx-auto object-cover rounded-full h-16 w-16  border-2 border-white dark:border-gray-800"/>
        </a>
        <p class="mt-2 text-xl font-medium text-gray-800 dark:text-white">
            Charlie
        </p>
        <p class="mb-4 text-xs text-gray-400">
            Nantes
        </p>
        <p class="p-2 px-4 text-xs text-white bg-pink-500 rounded-full">
            Professional
        </p>
        <div class="w-full p-2 mt-4 rounded-lg">
            <div class="flex items-center justify-between text-sm text-gray-600 dark:text-gray-200">
                <p class="flex flex-col">
                    Articles
                    <span class="font-bold text-black dark:text-white">
                        34
                    </span>
                </p>
                <p class="flex flex-col">
                    Followers
                    <span class="font-bold text-black dark:text-white">
                        455
                    </span>
                </p>
                <p class="flex flex-col">
                    Rating
                    <span class="font-bold text-black dark:text-white">
                        9.3
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>
