---
import { LINKS } from '../config';
import { Image, Picture } from '@astrojs/image/components';
import avatarImg from '../assets/images/avatar.jpg';
---

<div class="glass !w-auto rounded-2xl bg-white shadow-lg">
  <!-- <img alt="profil" src="/images/images/avatar.jpg" class="w-full mb-4 rounded-t-lg h-28"/> -->
  <div class="-mt-16 flex flex-col items-center justify-center p-4">
    <Picture
      widths={[400]}
      aspectRatio="1:1"
      src={avatarImg}
      formats={['avif', 'jpeg', 'webp']}
      class="mx-auto object-cover rounded-full h-16 w-16 border-2 border-white dark:border-gray-800"
    />

    {/*<a href="#" class="relative block">*/}
    {/*  <Image*/}
    {/*    alt="profil"*/}
    {/*    src="../assets/images/avatar.jpg"*/}
    {/*    className="mx-auto object-cover rounded-full h-16 w-16 "*/}
    {/*    width={60}*/}
    {/*    height={60}*/}
    {/*  />*/}
    {/*</a>*/}

    <p class="mt-2 text-xl font-medium text-gray-800 dark:text-white">Rod</p>
    <p class="mb-4 text-xs text-gray-400">Kisten</p>
    <p class="rounded-full bg-pink-500 p-2 px-4 text-xs text-white">Professional</p>
    <div class="mt-4 w-full rounded-lg p-2">
      <div class="glass flex items-center justify-between text-sm text-gray-600 dark:text-gray-200">
        <ul class="grid grid-cols-1">
          <!-- <ul className="menu bg-base-100 w-56 p-2 rounded-box"> -->
          {
            LINKS.map((link, i) => {
              return (
                <a href={link.url} target="_blank" rel="noopener noreferer">
                  <li key={`link-${i}`}>{link.title}</li>
                </a>
              );
            })
          }
        </ul>
        <button class="button-filled"> I am a button</button>
      </div>
    </div>
  </div>
</div>

<style>

</style>
