<div class="container z-1 -translate-y-4">
  <div
    class="-top-4s relative overflow-hidden rounded border border-white/[0.08] bg-black/75 pt-8 shadow-2xl shadow-black/50 backdrop-blur-sm md:pt-16"
  >
    <div class="absolute inset-0">
      <div class="absolute inset-x-0 top-0 flex justify-center">
        <div class="h-px w-px -translate-y-px rounded-full shadow-[0_-400px_600px_400px_rgba(71,183,248,1)]"></div>
      </div>
      <div class="absolute inset-x-0 bottom-0 flex justify-center">
        <div class="h-px w-px translate-y-px rounded-full shadow-[0_400px_600px_400px_rgba(71,183,248,.5)]"></div>
      </div>
      <div class="absolute inset-y-0 left-0 flex items-center">
        <div class="h-px w-px -translate-x-px rounded-full shadow-[-200px_0_300px_200px_rgba(217,32,56,0.75)]"></div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center">
        <div class="h-px w-px translate-x-px rounded-full shadow-[200px_0_300px_200px_rgba(217,32,56,0.75)]"></div>
      </div>
    </div>
    <div class="z-1">
      <div class="text-center">
        <div class="space-y-4">
          <div class="relative mx-auto">
            <div class="z-2">
              <div
                class="inline-flex h-icon w-icon rounded-icon-glass bg-gradient-to-b from-red-200/15 to-blue-500/10 p-md shadow-2xl shadow-blue-600/35 ring-1 ring-white/15"
              >
                <div
                  class="relative flex h-full w-full overflow-hidden rounded-icon bg-gradient-to-br from-gray-850 to-gray-900 shadow-2xl saturate-200 flex-center"
                  style="box-shadow: rgba(71, 183, 248, 0.25) 0px 2px 4px -1px inset, rgba(0, 0, 0, 0.6) 0px -2px 6px inset;"
                >
                  <div class="absolute inset-1 z-1 rounded-full bg-gradient-to-br from-black/50 to-black"></div>
                  <div class="absolute inset-1 z-2 flex rotate-[-35deg] flex-center">
                    <div class="absolute h-xs w-full" style="transform: none;">
                      <div class="h-xs w-1 rounded bg-gradient-to-r from-white/0 to-white/75"></div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(25.4545deg) translateZ(0px);">
                      <div class="h-xs w-1 rounded bg-gradient-to-r from-white/0 to-white/75"></div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(50.9091deg) translateZ(0px);">
                      <div class="h-xs w-1 rounded bg-gradient-to-r from-white/0 to-white/75"></div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(76.3636deg) translateZ(0px);">
                      <div class="h-xs w-1 rounded bg-gradient-to-r from-white/0 to-white/75"></div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(101.818deg) translateZ(0px);">
                      <div class="h-xs w-1 rounded bg-gradient-to-r from-white/0 to-white/75"></div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(127.273deg) translateZ(0px);">
                      <div class="h-xs w-1 rounded bg-gradient-to-r from-white/0 to-white/75"></div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(152.727deg) translateZ(0px);">
                      <div class="h-xs w-1 rounded bg-gradient-to-r from-white/0 to-white/75"></div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(178.182deg) translateZ(0px);">
                      <div class="h-xs w-1 rounded bg-gradient-to-r from-white/0 to-white/75"></div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(203.636deg) translateZ(0px);">
                      <div class="h-xs w-1 rounded bg-gradient-to-r from-yellow-200/0 to-yellow-200"></div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(229.091deg) translateZ(0px);">
                      <div class="h-xs w-1 rounded bg-gradient-to-r from-yellow-200/0 to-yellow-200"></div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(254.545deg) translateZ(0px);">
                      <div class="h-xs w-1 rounded bg-gradient-to-r from-red-500/0 via-red-500 to-red-500/10"></div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(280deg) translateZ(0px);">
                      <div class="h-xs w-1 rounded bg-gradient-to-r from-red-500/0 via-red-500 to-red-500/10"></div>
                    </div>
                  </div>
                  <div class="absolute inset-1 z-3 flex rotate-[-22deg] flex-center">
                    <div class="absolute h-xs w-full" style="transform: none;">
                      <div class="h-xs w-sm rounded bg-gradient-to-r from-white/0 to-white/40"></div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(25.4deg) translateZ(0px);">
                      <div class="h-xs w-sm rounded bg-gradient-to-r from-white/0 to-white/40"></div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(50.8deg) translateZ(0px);">
                      <div class="h-xs w-sm rounded bg-gradient-to-r from-white/0 to-white/40"></div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(76.2deg) translateZ(0px);">
                      <div class="h-xs w-sm rounded bg-gradient-to-r from-white/0 to-white/40"></div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(101.6deg) translateZ(0px);">
                      <div class="h-xs w-sm rounded bg-gradient-to-r from-white/0 to-white/40"></div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(127deg) translateZ(0px);">
                      <div class="h-xs w-sm rounded bg-gradient-to-r from-white/0 to-white/40"></div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(152.4deg) translateZ(0px);">
                      <div class="h-xs w-sm rounded bg-gradient-to-r from-white/0 to-white/40"></div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(177.8deg) translateZ(0px);">
                      <div class="h-xs w-sm rounded bg-gradient-to-r from-white/0 to-white/40"></div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(203.2deg) translateZ(0px);">
                      <div class="h-xs w-sm rounded bg-gradient-to-r from-yellow-200/0 to-yellow-200/50"></div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(228.6deg) translateZ(0px);">
                      <div class="h-xs w-sm rounded bg-gradient-to-r from-yellow-200/0 to-yellow-200/50"></div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(254deg) translateZ(0px);">
                      <div class="h-xs w-sm rounded bg-gradient-to-r from-red-500/0 to-red-500/25"></div>
                    </div>
                  </div>
                  <div class="absolute inset-[21px] z-4 flex rotate-[-35deg] flex-center">
                    <div class="absolute h-xs w-full" style="transform: none;">
                      <div class="flex h-xs w-xs text-2xs font-semibold italic flex-center">
                        <div
                          class=""
                          style="opacity: 0.1; text-shadow: black 1px 2px 4px; transform: rotate(35deg) translateZ(0px);"
                        >
                          0
                        </div>
                      </div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(25.4545deg) translateZ(0px);">
                      <div class="flex h-xs w-xs text-2xs font-semibold italic flex-center">
                        <div
                          class=""
                          style="opacity: 0.2; text-shadow: black 1px 2px 4px; transform: rotate(9.54545deg) translateZ(0px);"
                        >
                          1
                        </div>
                      </div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(50.9091deg) translateZ(0px);">
                      <div class="flex h-xs w-xs text-2xs font-semibold italic flex-center">
                        <div
                          class=""
                          style="opacity: 0.3; text-shadow: black 1px 2px 4px; transform: rotate(-15.9091deg) translateZ(0px);"
                        >
                          2
                        </div>
                      </div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(76.3636deg) translateZ(0px);">
                      <div class="flex h-xs w-xs text-2xs font-semibold italic flex-center">
                        <div
                          class=""
                          style="opacity: 0.4; text-shadow: black 1px 2px 4px; transform: rotate(-41.3636deg) translateZ(0px);"
                        >
                          3
                        </div>
                      </div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(101.818deg) translateZ(0px);">
                      <div class="flex h-xs w-xs text-2xs font-semibold italic flex-center">
                        <div
                          class=""
                          style="opacity: 0.5; text-shadow: black 1px 2px 4px; transform: rotate(-66.8182deg) translateZ(0px);"
                        >
                          4
                        </div>
                      </div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(127.273deg) translateZ(0px);">
                      <div class="flex h-xs w-xs text-2xs font-semibold italic flex-center">
                        <div
                          class=""
                          style="opacity: 0.6; text-shadow: black 1px 2px 4px; transform: rotate(-92.2727deg) translateZ(0px);"
                        >
                          5
                        </div>
                      </div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(152.727deg) translateZ(0px);">
                      <div class="flex h-xs w-xs text-2xs font-semibold italic flex-center">
                        <div
                          class=""
                          style="opacity: 0.7; text-shadow: black 1px 2px 4px; transform: rotate(-117.727deg) translateZ(0px);"
                        >
                          6
                        </div>
                      </div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(178.182deg) translateZ(0px);">
                      <div class="flex h-xs w-xs text-2xs font-semibold italic flex-center">
                        <div
                          class=""
                          style="opacity: 0.8; text-shadow: black 1px 2px 4px; transform: rotate(-143.182deg) translateZ(0px);"
                        >
                          7
                        </div>
                      </div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(203.636deg) translateZ(0px);">
                      <div class="flex h-xs w-xs text-2xs font-semibold italic flex-center">
                        <div
                          class=""
                          style="opacity: 0.9; text-shadow: black 1px 2px 4px; transform: rotate(-168.636deg) translateZ(0px);"
                        >
                          8
                        </div>
                      </div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(229.091deg) translateZ(0px);">
                      <div class="flex h-xs w-xs text-2xs font-semibold italic flex-center">
                        <div
                          class=""
                          style="opacity: 1; text-shadow: black 1px 2px 4px; transform: rotate(-194.091deg) translateZ(0px);"
                        >
                          9
                        </div>
                      </div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(254.545deg) translateZ(0px);">
                      <div class="flex h-xs w-xs text-2xs font-semibold italic flex-center">
                        <div
                          class=""
                          style="opacity: 1; text-shadow: black 1px 2px 4px; transform: rotate(-219.545deg) translateZ(0px);"
                        >
                          10
                        </div>
                      </div>
                    </div>
                    <div class="absolute h-xs w-full" style="transform: rotate(280deg) translateZ(0px);">
                      <div class="flex h-xs w-xs text-2xs font-semibold italic flex-center">
                        <div
                          class="text-[#ff455d] will-change-[opacity]"
                          style="opacity: 1; text-shadow: black 1px 2px 4px; transform: rotate(-245deg) translateZ(0px);"
                        >
                          11
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="absolute inset-2 z-5 flex rotate-[-215deg] flex-center">
                    <div
                      class="relative flex h-xs w-full items-center justify-end will-change-transform"
                      style="transform: rotate(276deg) translateZ(0px);"
                    >
                      <div
                        class="absolute left-1/2 h-sm w-sm -translate-x-1/2 rounded bg-orange-500 shadow shadow-black"
                      >
                      </div>
                      <div
                        class="h-xs w-5.5 rounded bg-orange-500"
                        style="box-shadow: rgba(243, 88, 21, 0.9) 4px 0px 8px;"
                      >
                      </div>
                    </div>
                  </div>
                  <div
                    class="absolute inset-sm z-6 rounded-full bg-gradient-to-br from-blue-300/15 to-blue-300/0"
                    style="box-shadow: rgba(71, 183, 248, 0.1) 1px 1px inset, rgba(255, 255, 255, 0.04) 28px 28px 1px -16px inset, rgba(0, 0, 0, 0.9) 0px 6px 12px 2px, rgba(71, 183, 248, 0.1) 0px 0px 24px 2px;"
                  >
                  </div>
                  <div
                    class="absolute inset-sm z-7 rounded-full bg-gradient-to-br from-red-600/0 to-red-600/20 will-change-[opacity]"
                    style="box-shadow: rgba(193, 16, 39, 0.9) -0.5px -0.5px inset, rgba(193, 16, 39, 0.6) -12px -20px 22px -16px inset, rgba(0, 0, 0, 0.6) 2px 4px 8px 1px, rgba(193, 16, 39, 0.25) 4px 8px 16px 2px; opacity: 0.960723;"
                  >
                  </div>
                </div>
              </div>
            </div>
            <div
              class="absolute inset-x-0 top-1/2 z-1 flex -translate-y-1/2 items-center top-8 py-px bg-blue-500/10"
              style="height: 1px; filter: blur(0px);"
            >
              <div
                class="relative h-full w-full rounded bg-gradient-to-r to-transparent will-change-transform from-blue-500/50"
                style="height: 1px; transform: translateX(100%) translateZ(0px);"
              >
              </div>
            </div>
            <div
              class="absolute inset-x-0 top-1/2 z-1 flex -translate-y-1/2 items-center top-9 py-xs bg-red-500/10"
              style="height: 1px; filter: blur(0px);"
            >
              <div
                class="relative h-full w-full rounded bg-gradient-to-r to-transparent will-change-transform from-red-500/50"
                style="height: 1px; transform: translateX(-100%) translateZ(0px);"
              >
              </div>
            </div>
            <div
              class="absolute inset-x-0 top-1/2 z-1 flex -translate-y-1/2 items-center top-11 py-px py-xs bg-blue-500/10"
              style="height: 1px; filter: blur(0px);"
            >
              <div
                class="relative h-full w-full rounded bg-gradient-to-r to-transparent will-change-transform from-blue-500/50"
                style="height: 1px; transform: translateX(-100%) translateZ(0px);"
              >
              </div>
            </div>
            <div
              class="absolute inset-x-0 top-1/2 z-1 flex -translate-y-1/2 items-center top-12 py-xs bg-blue-500/10"
              style="height: 1px; filter: blur(0px);"
            >
              <div
                class="relative h-full w-full rounded bg-gradient-to-r to-transparent will-change-transform from-blue-500/50"
                style="height: 1px; transform: translateX(-100%) translateZ(0px);"
              >
              </div>
            </div>
            <div class="absolute inset-x-0 bottom-0 flex justify-center">
              <div class="h-px w-px -translate-y-px rounded-full shadow-[0_-40px_50px_40px_rgba(71,183,248,0.6)]"></div>
            </div>
          </div>
          <div class="relative space-y-2">
            <div class="absolute inset-x-0 bottom-0 z-2 flex justify-center">
              <div class="h-px w-px translate-y-px rounded-full shadow-[0_-70px_100px_80px_rgba(0,0,0,1)]"></div>
            </div>
            <div
              class="absolute inset-x-0 top-1/2 z-1 flex -translate-y-1/2 items-center top-0 bg-blue-500/10"
              style="height: 1px; filter: blur(0px);"
            >
              <div
                class="relative h-full w-full rounded bg-gradient-to-r to-transparent will-change-transform from-blue-500/50"
                style="height: 1px; transform: translateX(100%) translateZ(0px);"
              >
              </div>
            </div>
            <div
              class="absolute inset-x-0 top-1/2 z-1 flex -translate-y-1/2 items-center -top-sm bg-blue-500/10"
              style="height: 1px; filter: blur(0px);"
            >
              <div
                class="relative h-full w-full rounded bg-gradient-to-r to-transparent will-change-transform from-blue-500/50"
                style="height: 1px; transform: translateX(100%) translateZ(0px);"
              >
              </div>
            </div>
            <div
              class="absolute inset-x-0 top-1/2 z-1 flex -translate-y-1/2 items-center top-8 bg-blue-500/10"
              style="height: 1px; filter: blur(0px);"
            >
              <div
                class="relative h-full w-full rounded bg-gradient-to-r to-transparent will-change-transform from-blue-500/50"
                style="height: 1px; transform: translateX(100%) translateZ(0px);"
              >
              </div>
            </div>
            <span class="z-10 text-sm text-secondary">Introducing</span>
            <h2 class="z-10 flex justify-center gap-x-1.5 text-2xl font-medium">
              Rod Kisten <div
                class="inline-flex items-center rounded-full border border-purple-100 bg-purple-50 py-sm px-1 text-xs font-normal leading-[13px] text-purple dark:border-purple-800 dark:bg-purple-900"
              >
                Beta
              </div>
            </h2>
            <p class="z-10 bg-gradient-to-b from-gray-50 to-blue-300 bg-clip-text text-lg text-transparent md:text-xl">
              Up to 1,000× faster queries<br />with our groundbreaking caching technology
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="relative hidden h-[280px] items-end justify-center px-1 will-change-[perspective] [perspective:1000px] sm:flex md:h-[320px] lg:h-[400px]"
    >
      <div
        class="relative h-[364px] w-full origin-bottom rounded-lg bg-gradient-to-b from-blue-500/15 to-transparent p-4 md:h-[420px] lg:h-[594px] xl:h-[604px] xl:w-[938px]"
        style="box-shadow: rgba(30, 157, 231, 0.2) 0px -1px 1px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px, rgba(30, 157, 231, 0.3) 0px -40px 180px -20px, rgba(0, 0, 0, 0.8) 0px 40px 80px; transform: rotateX(45deg);"
      >
        <div
          class="flex h-full w-full items-center justify-center rounded bg-gradient-to-b from-blue-500/10 to-black/60"
        >
          <img
            alt=""
            srcSet="/_next/image?url=%2Fimages%2Ffeatures%2Fboost-ui.jpg&w=1024&q=75 1x, /_next/image?url=%2Fimages%2Ffeatures%2Fboost-ui.jpg&w=3840&q=75 2x"
            src="/_next/image?url=%2Fimages%2Ffeatures%2Fboost-ui.jpg&w=3840&q=75"
            width="822"
            height="483"
            decoding="async"
            data-nimg="1"
            class="rounded-xs"
            loading="lazy"
            style="color: transparent;"
          />
        </div>
      </div>
      <div
        class="absolute inset-x-0 top-1/2 z-1 flex -translate-y-1/2 items-center top-37 py-xs bg-red-500/10"
        style="height: 1px; filter: blur(4px);"
      >
        <div
          class="relative h-full w-full rounded bg-gradient-to-r to-transparent will-change-transform from-red-500/50"
          style="height: 1px; transform: translateX(-25.2816%) translateZ(0px);"
        >
        </div>
      </div>
      <div
        class="absolute inset-x-0 top-1/2 z-1 flex -translate-y-1/2 items-center top-39 py-xs bg-blue-500/10"
        style="height: 1px; filter: blur(4px);"
      >
        <div
          class="relative h-full w-full rounded bg-gradient-to-r to-transparent will-change-transform from-blue-500/50"
          style="height: 1px; transform: translateX(-100%) translateZ(0px);"
        >
        </div>
      </div>
    </div>
    <div
      class="grid gap-2 initial:col-span-8 initial:grid-cols-8 initial:items-start sm:gap-3 initial:sm:col-span-16 initial:sm:grid-cols-16 z-1 mt-6 sm:mb-6 sm:-mt-2"
    >
      <div
        class="relative col-span-9 rounded border border-white/5 bg-black/50 shadow-xl shadow-black/20 max-sm:mx-1 max-sm:mb-1 sm:col-start-2 sm:col-end-16 sm:mx-0 sm:mb-6 md:col-start-4 md:col-end-14 lg:col-span-12 lg:col-start-3"
      >
        <div class="flex h-full flex-col items-center justify-center space-y-2 p-4 text-sm md:text-center">
          <ul class="text-secondary max-md:text-center max-sm:text-xs">
            <li class="mb-1.5 border-b pb-1.5 duration-200 hover:text-primary sm:mb-3 sm:pb-3">
              In just a few clicks, PlanetScale Boost makes the queries you choose faster.
            </li>
            <li class="mb-1.5 border-b pb-1.5 duration-200 hover:text-primary sm:mb-3 sm:pb-3">
              Find a slow query pattern using Insights and activate PlanetScale&nbsp;Boost.
            </li>
            <li class="mb-1.5 hover:text-primary sm:mb-3">
              No TTLs, no invalidation logic, and no caching infrastructure to&nbsp;maintain.
            </li>
          </ul>
          <a
            class="group inline-flex h-5 gap-sm whitespace-nowrap rounded-full border border-primary text-sm font-semibold transition flex-center focus:outline-none focus:ring focus:ring-orange-300 disabled:pointer-events-none disabled:!border-primary disabled:!bg-secondary disabled:!text-secondary dark:focus:ring-orange-500/40 text-light !border-orange-500 bg-orange-500 !text-primary hover:!border-orange !bg-transparent pr-2 pl-2.5"
            href="/features/boost"
            >Join the waitlist
            <svg
              width="16px"
              height="16px"
              viewBox="0 0 16 16"
              fill="none"
              stroke-width="1.5"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="flex-shrink-0 text-orange"
              aria-hidden="true"
              role="img"
            >
              <path class="origin-center scale-x-0 transition-transform group-hover:scale-x-100" d="M12 8H4"></path>
              <path
                class="transition-transform group-hover:translate-x-xs"
                d="M6.5 11.5L9.64645 8.35355C9.84171 8.15829 9.84171 7.84171 9.64645 7.64645L6.5 4.5"></path>
            </svg>
          </a>
        </div>
        <div class="absolute inset-x-2 -bottom-px h-px bg-gradient-to-r from-blue-500/0 via-blue-500/25 to-blue-500/0">
        </div>
      </div>
    </div>
  </div>
</div>
